label{
    display: block;
    margin-bottom: 10px;
    margin-left: 20px;
}
section{
    background-color: blueviolet;
}
div{
    display: inline;
}
.submit{
    color: white;
    background-color: blue;
}