/* *{
  margin: 0;
  padding: 0;
} */

body {
  font-family: "Work Sans", serif;
}

.nav-options li {
  list-style: none;
}
.nav-options a {
  text-decoration: none;
  color:#424242;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
}
.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 0 228px;
}
.nav-options {
  display: flex;
  align-items: center;
  gap: 50px;
}
.nav-title {
  color: #131313;
  text-align: center;
  font-size: 45px;
}
@media screen and (max-width: 576px) {
    .nav-container{
      flex-direction: column;
      padding: 0;
    }
}
