body {
  font-family: "Open Sans", serif;
}

.header {
  background-color: #fff8f3;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-image: url(../images/developer.png);
  background-position: left top;
}
.color-primary {
  color: #fd6e0a;
}
.btn-primary {
  color: var(--White-Color, #fff);
  font-size: 20px;
  border-radius: 5px;
  background: #fd6e0a;
  border: none;
  width: 150px;
  height: 64px;
}
.nav-name {
  color: var(--Dark-01, #181818);
  font-size: 45px;
}
.nav-options a {
  color: var(--Dark-02, #474747);
  font-size: 20px;
  text-decoration: none;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 230px;
}
.nav-options {
  display: flex;
  align-items: center;
  gap: 50px;
}
.nav-options li {
  list-style: none;
}
.banner {
}
.banner-greeting {
  color: var(--Dark-02, #474747);
  font-size: 45px;
  margin-top: 0px;
  margin-bottom: 5px;
}
.banner-name {
  color: var(--Dark-01, #181818);
  font-size: 85px;
  margin-top: 0px;
  margin-bottom: 20px;
}
.banner-content {
  color: var(--Dark-03, #757575);
  font-size: 18px;
  max-width: 500px;
  margin-top: 0px;
  margin-bottom: 30px;
}
.banner-container {
  display: flex;
  justify-content: space-between;
  padding: 185px 38px 0px 230px;
  align-items: center;
}
.profile-picture {
  width: 584px;
  height: 676px;
}
.about {
  padding: 130px;
}
main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-top: 130px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
}
#what-i-do-description {
  padding: 30px 130px;
}
.skills-container {
  display: flex;
}
.skills {
  padding: 33px;
  gap: 24px;
}

.resume-container {
  display: flex;
  gap: 71px;
  margin: 0 auto;
}
.btn-edu {
  text-align: center;
  margin-top: 50px;
}

footer {
  background-color: #fff8f3;
  padding: 130px 230px 230px 149px;
  margin-top: 113px;
}
.footer-section {
  display: flex;
  gap: 117px;
}
.footer-desc {
  max-width: 562px;
}
.social-links img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.social-links {
  gap: 24px;
}
.section-input input,
textarea{
  display: flex;
  margin-bottom: 25px;
  color: #757575;
  font-size: 16px;
  padding: 18px 35px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  width: 100%;
}
