/* shared */
body {
  font-family: "Work Sans", serif;
}
header {
  background: rgba(255, 144, 14, 0.1);
  /* padding: 63px 240px 45px 228px; */
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-options {
  display: flex;
  gap: 50px;
}

.nav-options li {
  list-style: none;
}
.nav-options a {
  text-decoration: none;
}
.nav-title {
  color: var(--Dark-01, #131313);
  text-align: center;
  font-size: 45px;
}
